# python
__pycache__
.coverage
coverage.xml
htmlcov
junit-test-results.xml

# IntelliJ
.idea/
hello.iml

# vscode
.vscode/

# Virtualenv
# virtualenv.log
.venv
venv/
ENV/

# setuptools
*egg-info
.eggs